*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store

/Manifest.toml
/.vscode/
tmp
generated
build
.vscode
.DS_Store

docs/docs
docs/site
docs/docs_site
docs/build
docs/var
deps/build.jl
Manifest.toml
docs/.vitepress/dist
docs/.vitepress/cache
docs/src/.vitepress/dist
docs/src/.vitepress/cache
node_modules
docs/package-lock.json
*.png
*.svg