name = "DimensionalData"
uuid = "0703355e-b756-11e9-17c0-8b28908087d0"
version = "0.29.25"
authors = ["Rafael Schouten <rafaelschouten@gmail.com>"]

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
ArrayInterface = "4fba245c-0d91-5ea0-9b3e-6abc04ee57a9"
ConstructionBase = "187b0558-2788-49d3-abe0-74a17ed4e7c9"
DataAPI = "9a962f9c-6df0-11e9-0e5d-c546b8b5ee8a"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Extents = "411431e0-e8b7-467b-b5e0-f676ba4f2910"
Interfaces = "85a1e053-f937-4924-92a5-1367d23b7b87"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
InvertedIndices = "41ab1584-1d38-5bbf-9106-f11c6c58b48f"
IteratorInterfaceExtensions = "82899510-4779-5014-852e-03e436cf321d"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
TableTraits = "3783bdb8-4a98-5b6b-af9a-565f29a5fe9c"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"

[weakdeps]
AbstractFFTs = "621f4979-c628-5d54-868e-fcf4e3e8185c"
AlgebraOfGraphics = "cbdf2221-f076-402e-a563-3d30da359d67"
CategoricalArrays = "324d7699-5711-5eae-9e2f-1d82baa6b597"
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
DiskArrays = "3c3547ce-8d99-4f5e-a174-61eb10b00ae3"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
PythonCall = "6099a3de-0909-46bc-b1f4-468b9a2dfc0d"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[extensions]
DimensionalDataAbstractFFTsExt = "AbstractFFTs"
DimensionalDataAlgebraOfGraphicsExt = "AlgebraOfGraphics"
DimensionalDataCategoricalArraysExt = "CategoricalArrays"
DimensionalDataChainRulesCoreExt = "ChainRulesCore"
DimensionalDataDiskArraysExt = "DiskArrays"
DimensionalDataMakieExt = "Makie"
DimensionalDataNearestNeighborsExt = "NearestNeighbors"
DimensionalDataPythonCallExt = "PythonCall"
DimensionalDataSparseArraysExt = "SparseArrays"
DimensionalDataStatsBaseExt = "StatsBase"

[compat]
AbstractFFTs = "1"
Adapt = "2, 3.0, 4"
AlgebraOfGraphics = "0.8, 0.9, 0.10, 0.11"
Aqua = "0.8"
ArrayInterface = "7"
BenchmarkTools = "1"
CairoMakie = "0.10, 0.11, 0.12, 0.13, 0.14, 0.15"
CategoricalArrays = "0.10, 1"
ChainRulesCore = "1"
ColorTypes = "0.11"
Combinatorics = "1"
ConstructionBase = "1"
CoordinateTransformations = "0.6"
DataAPI = "1.16"
DataFrames = "1"
Dates = "1"
DiskArrays = "0.3, 0.4"
Distributions = "0.25"
Documenter = "1"
Extents = "0.1"
FFTW = "1"
GPUArrays = "10"
ImageFiltering = "0.7"
ImageTransformations = "0.10"
Interfaces = "0.3"
IntervalSets = "0.5, 0.6, 0.7"
InvertedIndices = "1"
IteratorInterfaceExtensions = "1"
JLArrays = "0.1, 0.3"
LinearAlgebra = "1"
Makie = "0.20, 0.21, 0.22, 0.23, 0.24"
NearestNeighbors = "0.4"
OffsetArrays = "1"
OpenSSL = "1.4.3"
OrderedCollections = "1"
Plots = "1"
PrecompileTools = "1"
PythonCall = "0.9"
Random = "1"
RecipesBase = "0.7, 0.8, 1"
SafeTestsets = "0.1"
SparseArrays = "1"
Statistics = "1"
StatsBase = "0.34"
StatsPlots = "0.15"
TableTraits = "1"
Tables = "1"
Test = "1"
Unitful = "1"
julia = "1.9"

[extras]
AlgebraOfGraphics = "cbdf2221-f076-402e-a563-3d30da359d67"
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
ArrayInterface = "4fba245c-0d91-5ea0-9b3e-6abc04ee57a9"
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
CairoMakie = "13f3f980-e62b-5c42-98c6-ff1f3baf88f0"
CategoricalArrays = "324d7699-5711-5eae-9e2f-1d82baa6b597"
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
ColorTypes = "3da002f7-5984-5a60-b8a6-cbb66c0b333f"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
CoordinateTransformations = "150eb455-5306-5404-9cee-2592286d6298"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DiskArrays = "3c3547ce-8d99-4f5e-a174-61eb10b00ae3"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
GPUArrays = "0c68f7d7-f131-5f86-a1c3-88cf8149b2d7"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
ImageTransformations = "02fcd773-0e25-5acc-982a-7f6622650795"
JLArrays = "27aeb0d3-9eb9-45fb-866b-73c2ecf80fcb"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
OpenSSL = "4d8831e6-92b7-49fb-bdf8-b643e874388c"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PythonCall = "6099a3de-0909-46bc-b1f4-468b9a2dfc0d"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StatsPlots = "f3b207a7-027a-5e70-b257-86293d7955fd"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"

[targets]
test = ["AlgebraOfGraphics", "Aqua", "ArrayInterface", "BenchmarkTools", "CairoMakie", "CategoricalArrays", "ChainRulesCore", "ColorTypes", "Combinatorics", "CoordinateTransformations", "DataFrames", "DiskArrays", "Distributions", "Documenter", "FFTW", "GPUArrays", "ImageFiltering", "ImageTransformations", "JLArrays", "NearestNeighbors", "OffsetArrays", "OpenSSL", "Plots", "PythonCall", "Random", "SafeTestsets", "SparseArrays", "StatsBase", "StatsPlots", "Test", "Unitful"]
